name: Ubuntu LTS

on: push

jobs:
  rust_tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install -y cargo rustc libsqlite3-dev libssl-dev pkg-config
    - name: Build application
      run: |
        cargo build
    - name: Show version information
      run: |
        cargo run -- version
    - name: Run tests
      run: |
        cargo test
